.bgcolor-grey{
    background-color: #999;

}

.border-lightgrey{
    border-color: #bfbfbf;
}

body{
    font-family: serif !important;
    color: #382820;
}

.img-background{
    width: 40%;
}

.font-kaushan{
    font-family: 'Kaushan Script', cursive;
}

.wanted{
    font-size: 3.6rem;
}


.full-width{
    width:100%;
    flex-shrink: 0;
}




.deplete-animation{
    animation: deplete 1s linear forwards;
}

.expand-animation{
    animation: deplete 1s linear reverse forwards;
}


.btn-width{
    width: 20%;
}

@keyframes    deplete {
    0%{
        width: 100%;
        opacity: 1;
    }
    100%{
        width: 0%;
        opacity: 0;
    } 
}



.doa{
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.name{
    display     : inline-block; 
    white-space: nowrap;
    font-size   : 2rem; 
    line-height : 1em;          
    transform   : scale(86%, 100%); 
}

.box{
    height: 70vh;
    width:50vh;
    padding: 0 !important;
    transition: all 2s linear;
    background: #d6c9ab;
}


